/**
 */
.board {
  margin: 5px auto 50px;
  background: #fff;
  width: 920px;
  height: 625px;
  border: slategray solid 1px;
  text-align: center;
  overflow: hidden;
  position:relative;
}
.info {
  position: absolute;
  width: 100%;
}
.info .score {
  float: right;
  margin-right: 15px;
  width: 150px;
}
.info .score .ant-card-body {
  padding: 0;
}
.info .score .header,
.info .score .roundPoints {
  background: #f0f2f5;
  font-weight: bold;
  display: flex;
}
.info .score span {
  display: inline-block;
  text-align: center;
  width: 75px;
}
.info .score .points {
  display: flex;
}
.info .lastRound {
  float: left;
  width: 150px;
  margin-left: 15px;
  height: 170px;
}
.info .miniCard {
  border: #000c17 solid 2px;
  border-radius: 3px;
  background: #ffffff;
  padding: 5px;
  width: 50px;
  position: absolute;
  font-weight: bold;
}
.miniCard.trump {
  background: #ffdaba;
}
.miniCard.winner {
  border-color: goldenrod;
}

.info .top .miniCard {
  left: 50px;
  top: 5px;
}
.info .left .miniCard {
  left: 5px;
  top: 50px;
}
.info .right .miniCard {
  right: 5px;
  top: 50px;
}
.info .bottom .miniCard {
  left: 50px;
  bottom: 5px;
}
.playerSaidStack {
  display: flex;
  flex-flow: column-reverse;
  max-height: 64px;
  overflow: hidden;
}

/**
 */
.cardWrapper {
  position: relative;
  display: inline-block;
}
.card {
  font-size: 100px;
  display: inline-block;
}
.card.black {
  color: black;
}
.card.red {
  color: rgb(170, 0, 0);
}
.belotChooseButton {
  position: absolute;
  display: none;
  font-size: 30px;
  cursor: pointer;
}
.belotChooseButton.say {
  top: -45px;
  left: 0;
}
.belotChooseButton.dontSay {
  top: -45px;
  right: -35px;
}
.cardWrapper.forbidden {
  cursor: not-allowed;
}
.cardWrapper.playable {
  cursor: pointer;
}
.cardWrapper.playable:hover {
  transform: translateY(-5%);
}
.cardWrapper.playable:hover .belotChooseButton,
.cardWrapper.playable:focus .belotChooseButton,
.cardWrapper.playable:active .belotChooseButton {
  display: inline-block;
}

/**
 */
.myCards {
  text-align: center;
}

.myCards .cardWrapper {
  height: 100px;
  width: 50px;
}

/* .otherPlayer .playerTalks > *::after {
  top: 10px;
  left: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-top: 0;
  border-bottom-color: rgba(230, 230, 230, 1);
  margin-top: -20px;
  margin-left: -20px;
} */

/**
 */
.otherPlayer.top .otherPlayerCards {
  transform: rotate(180deg) translate(-25px, 42px);
}
.otherPlayer.left .otherPlayerCards {
  transform: rotate(90deg) translate(50px, 113px);
}
.otherPlayer.right .otherPlayerCards {
  transform: rotate(270deg) translate(-140px, 114px);
}
.otherPlayerCards {
  overflow: hidden;
  height: 150px;
  padding-top: 8px;
}

.otherPlayerCards .card {
  font-size: 90px;
}
.otherPlayerCards .cardWrapper {
  position: absolute;
  transform-origin: bottom center;
  width: 76px;
  height: 115px;
}
.otherPlayerCards .cardWrapper svg {
  margin-left: -5px;
  margin-top: -4px;
  margin-right: -1px;
}

.otherPlayerCards .cardWrapper:nth-child(1) {
  z-index: 8;
  transform: rotate(-27deg);
}
.otherPlayerCards .cardWrapper:nth-child(2) {
  z-index: 7;
  transform: rotate(-18deg);
}
.otherPlayerCards .cardWrapper:nth-child(3) {
  z-index: 6;
  transform: rotate(-9deg);
}
.otherPlayerCards .cardWrapper:nth-child(4) {
  z-index: 5;
  transform: rotate(0deg);
}
.otherPlayerCards .cardWrapper:nth-child(5) {
  z-index: 4;
  transform: rotate(9deg);
}
.otherPlayerCards .cardWrapper:nth-child(6) {
  z-index: 3;
  transform: rotate(18deg);
}
.otherPlayerCards .cardWrapper:nth-child(7) {
  z-index: 2;
  transform: rotate(27deg);
}
.otherPlayerCards .cardWrapper:nth-child(8) {
  z-index: 1;
  transform: rotate(36deg);
}
/* .otherPlayer.currentPlayer .otherPlayerCards::before {
  content: '\1f449';
  position: absolute;
  top: 50%;
  left: 55px;
  font-size: 40px;
  z-index: 10;
} */
.hiddenAdditionalCards {
  /* @TODO: don't need it if constraint by parent size */
  margin-left: -25px;
  margin-top: 15px;
  transform: scale(.5);
}
.hiddenAdditionalCards .cardWrapper {
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  z-index: 1;
}
.hiddenAdditionalCards .cardWrapper:nth-child(3) {
  z-index: 3;
  transform: rotate(36deg);
}
.hiddenAdditionalCards .cardWrapper:nth-child(4) {
  z-index: 4;
  transform: rotate(-36deg);
}
.hiddenAdditionalCards .cardWrapper:nth-child(7) {
  z-index: 7;
  transform: rotate(24deg);
}
.hiddenAdditionalCards .cardWrapper:nth-child(8) {
  z-index: 8;
  transform: rotate(-24deg);
}
.hiddenAdditionalCards .cardWrapper:nth-child(11) {
  z-index: 11;
  transform: rotate(12deg);
}
.hiddenAdditionalCards .cardWrapper:nth-child(12) {
  z-index: 12;
  transform: rotate(-12deg);
}

/**
 */
.menu {
  display: grid;
}
.sayAnnounce {
  display: grid;
  grid-template-columns: 75% 25%;
}
.sayAnnounce > * {
  font-size: 20px;
  background-color: rgba(110,220,250, .5);
  color: black;
  font-weight: bold;
}
.talk {
  display: flex;
  flex-wrap: wrap;
}
.talk > * {
  flex: 1 1 auto;
  font-size: 20px;
  font-weight: bold;
  color: black;
}
.talk > select {
  background-color: rgba(100, 100, 100, .1);
}
.talk > .sayCoincheButton {
  background-color: rgba(178,34,34, .8);
  color: white;
}
.talk > .saySkipButton {
  background-color: rgba(110,220,250, .5);
}
.talk button:disabled {
  cursor: not-allowed;
  opacity: .4;
}
.toggleIsDisplayedPreviousCardsPlayed {
  display: grid;
}
.toggleIsDisplayedPreviousCardsPlayed > * {
  font-size: 20px;
  width: 50%;
  margin: 0 auto;
  color: black;
  font-weight: bold;
}

/**
 */
.ant-row.bottom {
  height: 100px;
}

.playerHolder {
  position: relative;
}
.top .playerHolder {
  position: absolute;
  top: 10px;
  left: 210px;
}
.bottom .playerHolder {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.left .playerHolder {
  margin-left: 10px;
}
.right .playerHolder {
  margin-right: 10px;
}

.left .playerHolder .ant-badge,
.top .playerHolder .ant-badge,
.bottom .playerHolder .ant-badge {
  float: left;
}
.right .playerHolder .ant-badge {
  float: right;
}
.playerHolder .playerDetail {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  float: left;
}
.right .playerHolder .playerDetail {
  float: right;
}

.playerName {
  font-size: 20px;
  text-align: center;
  height: 30px;
  width: 120px;
  background-color: #daf6ff;
  border: #1890ff solid;
  float: left;
  border-radius: 0 4px 4px 0;
  border-width: 1px 1px 1px 0;
}
.right .playerName {
  float: right;
  border-radius: 4px 0 0 4px;
  border-width: 1px 0 1px 1px;
}
.playerSaidHolder {
  height: 40px;
  width: 10px;
}
.playerHolder .playerTake {
  border: #000c17 solid;
  border-width: 0 1px 1px 1px;
  width: 75px;
  background: #f0f2f5;
  align-self: center;
  font-weight: bold;
  font-size: 11px;
}
.playerHolder .playerTake svg {
  margin-left: 4px;
  margin-top: 2px;
  margin-right: 4px;
}
.playerHolder .playerTake span.contre {
  text-decoration: line-through darkred;
}
.playerHolder .playerTake span.surcontre {
  text-decoration: line-through double darkred;
}

.left .playerSaidHolder {
  float: left;
  margin-left: -10px;
}
.right .playerSaidHolder {
  float: right;
  margin-right: -10px;
}
.playerSaidExpected div,
.playerSaidExpected svg {
  float: left;
  margin-right: 5px;
  font-size: 15px;
  font-weight: bold;
}
.playerSaidExpected {
  height: 20px;
}
/**
 */

.playedCards {
  height: 320px;
  width: 400px;
  margin: 0 auto 25px;
  border: solid #28502e 3px;
  border-radius: 5px;
  background: #1f9330;
}
.playedCards > .playedCard {
  position: absolute;
  transform: scale(.85);
}
.playedCards > .playedCard.top {
  top: 25px;
  left: 165px;
}
.playedCards > .playedCard.left {
  top: 88px;
  left: 115px;
}
.playedCards > .playedCard.right {
  top: 90px;
  right: 100px;
}
.playedCards > .playedCard.bottom {
  bottom: 55px;
  left: 165px;
}
.playedCard.left .cardWrapper {
  transform: rotate(15deg);
}
.playedCard.top .cardWrapper {
  transform: rotate(5deg);
}
.playedCard.right .cardWrapper {
  transform: rotate(-4deg);
}

/**
 */
.info {
  font-size: 18px;
  overflow: auto;
}
.info .label {
  text-align: left;
}
.info .data {
  text-align: right;
}
.info .teamPoints {
  display: flex;
  justify-content: space-between;
  max-width: 250px;
}
.info .attackingPlayer {
  display: flex;
  justify-content: space-between;
  max-width: 250px;
}
.info .goal {
  display: flex;
  justify-content: space-between;
  max-width: 250px;
}

.contractPoints .selectedExpectedPoint {
  background-color: #daedff;
  border: #1890ff solid 1px;
  border-left-width: 0;
  border-right-width: 0;
  line-height: 1.5715;
  min-width: 50px;
  height: 32px;
  padding: 4px 15px;
  font-size: 14px;
  text-align: center;
}
.contractPoints .buttonPlus,
.contractPoints .buttonMinus,
.contractPoints .buttonMinus.ant-btn-primary[disabled],
.contractPoints .buttonPlus.ant-btn-primary[disabled] {
  border: #1890ff solid 1px;
}

.contractPoints .buttonPlus,
.contractPoints .buttonPlus.ant-btn-primary[disabled] {
  border-radius: 0 2px 2px 0;
}

.contractPoints .buttonMinus,
.contractPoints .buttonMinus.ant-btn-primary[disabled] {
  border-radius: 2px 0 0 2px;
}

.talkMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
}
.talkMenu .content {
  background-color: #d3d3d3ee;
  border: slategrey solid 2px;
  background-color:#d3d3d3dd;
  width: 500px;
  height: 210px;
  z-index: 500;
}
.talkMenu .actions {
  padding: 10px;
  border: slategrey solid 1px;
  background-color: #fff;
  position: relative;
  top: 21px;
  left: -1px;
  width: 498px;
}

.talkMenu .actions .ant-btn-primary {
  margin-left: 50px;
}

